.faq-accordion {
  width: 100%;

  &__title {
    margin-bottom: 1.3rem;

    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;

    @include tablet {
      margin-bottom: 0;

      font-weight: 700;
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }
}
